
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  #resetpassword_div {
    max-width: 650px;
    margin: 100px auto;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
 
  #resetpassword_h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Instruction text styles */
  #resetpassword_span {
    color: grey;
    margin-bottom: 20px; 
  }
  
  /* Input field styles */
  #resetpassword_input {
    width: calc(100% - 40px); 
    padding: 10px;
    margin-bottom: 20px; 
  }
  

  #resetpassword_button {
    background-color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  
  #resetpassword_hr {
    width: calc(100% - 40px);
    margin-bottom: 20px; 
  }
  
  
  #resetpassword_span2 {
    color: blue;
    margin-bottom: 20px; 
  }
  
  
  body {
    background-color: rgba(217, 216, 216, 0.504);
  }
  
  
  @media (max-width: 768px) {
    #resetpassword_div {
      max-width: 100%; 
      margin: 50px auto; 
    }
  }
  